*.pdf
*.swp
temppdf/*
*.log
*.aux
*.toc
dprotokoller/*
fprotokoller/*
fprotokoller56/*
fprotokoller34/*
pdf/*
PET26/*
PET26noxml/*
PET3/*
PET3noxml/*
PET4/*
PET4noxml/*
PET5/*
PET6/*
tempxml4/*
tprotokoller/*
xml26/*
xml3/*
xml4/*



